## 1-Data Overview

I started by examining all the datasets to understand their structure and contents by creating a function that reads a CSV file, checks for columns matching certain keywords,and provides an overview of the dataset's structure.

In [1]:
import pandas as pd

def info_data(file):
    try:
        
        if file.endswith('.csv'):
            df = pd.read_csv(file)
        else:
            print("File format not supported.")
            return
        
        df_columns = df.columns.str.lower() 
        keywords = ['age', 'sex', 'stage', 'grade','gender','type','name'] 
        matching_columns = [col for col in df_columns if any(keyword in col for keyword in keywords)]
        
        
        if matching_columns:
            print("\n--- Overview for", file, "---")
            print("Found the following matching columns:", matching_columns)
            print("\nAll columns in the dataset:")
            print(df.columns)
        else:
            print("\n--- Overview for", file, "---")
            print("No matching columns found.")
            print("\nAll columns in the dataset:")
            print(df.columns)
        
        
        print("\nFirst 5 rows of the dataset:")
        print(df.head())
        
        # Data type
        print("\nDataset info:")
        df.info()
        
        # Summary statistics for numerical columns
        print("\nStatistical summary:")
        print(df.describe())
        
    except Exception as e:
        
        print("Error:", e)
    

    return df

The `see_value` function is used to print the unique values within a specific column of a DataFrame. This step helps in assessing whether there are patterns or categories in the data that can be extracted or standardized.

In [2]:
def see_value(df,nom_colonne):
    value= df[nom_colonne].unique()
    print(value)

## 2- Approach and Methodology

To extract critical information from the datasets, I implemented a combination of string operations and regular expressions. This approach effectively handles data inconsistencies and varying formats. Since key information (such as age, sex, stage, and grade) was not consistently located in the same column or presented in a uniform format, I developed dedicated functions for extracting each type of data. These functions were tailored for age, sex, stage, grade, cancer type, sample type, and tumor subtype, enabling a flexible and adaptable extraction process.

By creating distinct functions for each type of information, I ensured targeted processing that accommodated the unique structure of each dataset. This method facilitated consistent and standardized outputs, regardless of data representation differences.

In [3]:
import re

def standardize_age(df, input_column_name):
    df['Age'] = df[input_column_name].apply(lambda text: re.search(r'(\d+(\.\d+)?)', str(text), re.IGNORECASE).group(1) if re.search(r'(\d+(\.\d+)?)', str(text), re.IGNORECASE) else 'NA')
    return df


def standardize_sex(df, input_column_name):
    df['Sex'] = df[input_column_name].apply(
        lambda text: 'Female' if re.search(r'\bfemale\b', str(text), re.IGNORECASE) 
        else 'Male' if re.search(r'\bmale\b', str(text), re.IGNORECASE) 
        else 'NA'
    )
    return df


def standardize_cancer_type(df, input_column_name):
    df['Cancer Type'] = df[input_column_name].apply(lambda text: 'Ovarian Cancer' if re.search(r'ovarian', str(text), re.IGNORECASE) else 'Breast Cancer' if re.search(r'breast', str(text), re.IGNORECASE) else 'Endometrial cancer' if re.search(r'endometrial', str(text), re.IGNORECASE) else 'NA') 
    return df


def standardize_sample_type(df, input_column_name):
    df['Sample Type'] = df[input_column_name].apply(lambda text: 'normal' if re.search(r'normal', str(text), re.IGNORECASE) else 'primary tumour' if re.search(r'(primary|tumour)', str(text), re.IGNORECASE) else 'NA')
    return df

def standardize_tumour_subtype(df, input_column_name):
    subtypes = ['serous', 'endometrioid', 'mucinous', 'clear cell', 'ductal', 'lobular', 'apocrine']
    df['Tumour Subtype'] = df[input_column_name].apply(lambda text: next((subtype for subtype in subtypes if re.search(subtype, str(text), re.IGNORECASE)), 'NA'))
    return df


def standardize_stage(df, input_column_name):
    df['Stage'] = df[input_column_name].apply(lambda text: re.search(r'(I|II|III|IV|1|2|3|4)', str(text)).group(1) if re.search(r'(I|II|III|IV|1|2|3|4)', str(text)) else 'NA')
    return df

def standardize_stage_romain(df, input_column_name):
    df['Stage'] = df[input_column_name].apply(lambda text: re.search(r'(?:(I{1,4}|II?I?|III?|IV)|(\d{1,2})(?:[A-Z])?)|(high|low)', str(text), re.IGNORECASE).group(1) if re.search(r'(?:(I{1,4}|II?I?|III?|IV)|(\d{1,2})(?:[A-Z])?)|(high|low)', str(text), re.IGNORECASE) else 'NA')
    return df



def standardize_stage_mot(df, input_column_name):
    df['Stage'] = df[input_column_name].apply(
        lambda text: re.search(r'(high|low|benign|borderline|advanced|early|invasive|microinvasion)', str(text), re.IGNORECASE).group(1) 
        if re.search(r'(high|low|benign|borderline|advanced|early|invasive|microinvasion)', str(text), re.IGNORECASE) 
        else 'NA'
    )
    return df


def standardize_grade(df, input_column_name):
    df['Grade'] = df[input_column_name].apply(lambda text: re.search(r'(high-grade|low-grade|1|2|3|4)', str(text), re.IGNORECASE).group(1) if re.search(r'(high-grade|low-grade|1|2|3|4)', str(text), re.IGNORECASE) else 'NA')
    return df

## 3-Extraction of the informations from each dataset

The first Dataset : GSE6008_metadata

In [4]:
df1=info_data('GSE6008_metadata.csv')

--- Overview for GSE6008_metadata.csv ---
Found the following matching columns: ['characteristics_ch1.0.tumor_type', 'characteristics_ch1.1.stage', 'characteristics_ch1.12.cel_file_name', 'characteristics_ch1.2.grade', 'contact_name', 'source_name_ch1', 'type']

All columns in the dataset:
Index(['channel_count', 'characteristics_ch1.0.Tumor_Type',
       'characteristics_ch1.1.stage', 'characteristics_ch1.10.TP53_mutation',
       'characteristics_ch1.11.P53_immunohistochemistry',
       'characteristics_ch1.12.CEL_file_name', 'characteristics_ch1.2.grade',
       'characteristics_ch1.3.B-canenin_nuclear_accumulation',
       'characteristics_ch1.4.CTNNB1_mutation',
       'characteristics_ch1.5.APC_mutation',
       'characteristics_ch1.6.PTEN_mutation',
       'characteristics_ch1.7.PTEN_immunohistochemistry',
       'characteristics_ch1.8.KRAS_mutation',
       'characteristics_ch1.9.PIK3CA_mutation', 'contact_address',
       'contact_city', 'contact_country', 'contact_email', 'contact_institute',
       'contact_name', 'contact_phone', 'contact_state',
       'contact_zip/postal_code', 'data_processing', 'data_row_count',
       'description', 'extract_protocol_ch1', 'geo_accession', 'hyb_protocol',
       'label_ch1', 'label_protocol_ch1', 'last_update_date', 'molecule_ch1',
       'organism_ch1', 'platform_id', 'relation', 'scan_protocol', 'series_id',
       'source_name_ch1', 'status', 'submission_date', 'supplementary_file',
       'taxid_ch1', 'title', 'type'],
      dtype='object')

First 5 rows of the dataset:
   channel_count characteristics_ch1.0.Tumor_Type characteristics_ch1.1.stage  \
0              1                       Clear_Cell                          3C
1              1                       Clear_Cell                           4
2              1                       Clear_Cell                           1
3              1                       Clear_Cell                          1a
4              1                       Clear_Cell                          2c

  characteristics_ch1.10.TP53_mutation  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

  characteristics_ch1.11.P53_immunohistochemistry  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

  characteristics_ch1.12.CEL_file_name characteristics_ch1.2.grade  \
0                      CHTN-OC-004.CEL                           3
1                      CHTN-OC-012.CEL                           3
2                      CHTN-OC-028.CEL                           3
3                        KU-OC-003.CEL                         NaN
4                        KU-OC-004.CEL                         NaN

  characteristics_ch1.3.B-canenin_nuclear_accumulation  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  characteristics_ch1.4.CTNNB1_mutation characteristics_ch1.5.APC_mutation  \
0                                   NaN                                NaN
1                                   NaN                                NaN
2                                   NaN                                NaN
3                                   NaN                                NaN
4                                   NaN                                NaN

   ... relation                   scan_protocol series_id source_name_ch1  \
0  ...      NaN  standard Affymetrix procedures   GSE6008   Ovarian_Tumor
1  ...      NaN  standard Affymetrix procedures   GSE6008   Ovarian_Tumor
2  ...      NaN  standard Affymetrix procedures   GSE6008   Ovarian_Tumor
3  ...      NaN  standard Affymetrix procedures   GSE6008   Ovarian_Tumor
4  ...      NaN  standard Affymetrix procedures   GSE6008   Ovarian_Tumor

                  status submission_date  \
0  Public on Apr 09 2007     Oct 10 2006
1  Public on Apr 09 2007     Oct 10 2006
2  Public on Apr 09 2007     Oct 10 2006
3  Public on Apr 09 2007     Oct 10 2006
4  Public on Apr 09 2007     Oct 10 2006

                                  supplementary_file taxid_ch1  \
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...      9606
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...      9606
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...      9606
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...      9606
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...      9606

                                 title type
0  Ovarian_Tumor_ClearCell_CHTN-OC-004  RNA
1  Ovarian_Tumor_ClearCell_CHTN-OC-012  RNA
2  Ovarian_Tumor_ClearCell_CHTN-OC-028  RNA
3    Ovarian_Tumor_ClearCell_KU-OC-003  RNA
4    Ovarian_Tumor_ClearCell_KU-OC-004  RNA

[5 rows x 45 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 45 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   channel_count                                         103 non-null    int64
 1   characteristics_ch1.0.Tumor_Type                      99 non-null     object
 2   characteristics_ch1.1.stage                           99 non-null     object
 3   characteristics_ch1.10.TP53_mutation                  37 non-null     object
 4   characteristics_ch1.11.P53_immunohistochemistry       37 non-null     object
 5   characteristics_ch1.12.CEL_file_name                  103 non-null    object
 6   characteristics_ch1.2.grade                           74 non-null     object
 7   characteristics_ch1.3.B-canenin_nuclear_accumulation  37 non-null     object
 8   characteristics_ch1.4.CTNNB1_mutation                 37 non-null     object
 9   characteristics_ch1.5.APC_mutation                    3 non-null      object
 10  characteristics_ch1.6.PTEN_mutation                   37 non-null     object
 11  characteristics_ch1.7.PTEN_immunohistochemistry       37 non-null     object
 12  characteristics_ch1.8.KRAS_mutation                   37 non-null     object
 13  characteristics_ch1.9.PIK3CA_mutation                 36 non-null     object
 14  contact_address                                       103 non-null    object
 15  contact_city                                          103 non-null    object
 16  contact_country                                       103 non-null    object
 17  contact_email                                         103 non-null    object
 18  contact_institute                                     103 non-null    object
 19  contact_name                                          103 non-null    object
 20  contact_phone                                         103 non-null    object
 21  contact_state                                         103 non-null    object
 22  contact_zip/postal_code                               103 non-null    object
 23  data_processing                                       103 non-null    object
 24  data_row_count                                        103 non-null    int64
 25  description                                           103 non-null    object
 26  extract_protocol_ch1                                  103 non-null    object
 27  geo_accession                                         103 non-null    object
 28  hyb_protocol                                          103 non-null    object
 29  label_ch1                                             103 non-null    object
 30  label_protocol_ch1                                    103 non-null    object
 31  last_update_date                                      103 non-null    object
 32  molecule_ch1                                          103 non-null    object
 33  organism_ch1                                          103 non-null    object
 34  platform_id                                           103 non-null    object
 35  relation                                              4 non-null      object
 36  scan_protocol                                         103 non-null    object
 37  series_id                                             103 non-null    object
 38  source_name_ch1                                       103 non-null    object
 39  status                                                103 non-null    object
 40  submission_date                                       103 non-null    object
 41  supplementary_file                                    103 non-null    object
 42  taxid_ch1                                             103 non-null    int64
 43  title                                                 103 non-null    object
 44  type                                                  103 non-null    object
dtypes: int64(3), object(42)
memory usage: 36.3+ KB

Statistical summary:
       channel_count  data_row_count  taxid_ch1
count          103.0           103.0      103.0
mean             1.0         22283.0     9606.0
std              0.0             0.0        0.0
min              1.0         22283.0     9606.0
25%              1.0         22283.0     9606.0
50%              1.0         22283.0     9606.0
75%              1.0         22283.0     9606.0
max              1.0         22283.0     9606.0

In [5]:
df1.head(2)

,channel_count,characteristics_ch1.0.Tumor_Type,characteristics_ch1.1.stage,characteristics_ch1.10.TP53_mutation,characteristics_ch1.11.P53_immunohistochemistry,characteristics_ch1.12.CEL_file_name,characteristics_ch1.2.grade,characteristics_ch1.3.B-canenin_nuclear_accumulation,characteristics_ch1.4.CTNNB1_mutation,characteristics_ch1.5.APC_mutation,...,relation,scan_protocol,series_id,source_name_ch1,status,submission_date,supplementary_file,taxid_ch1,title,type
0,1,Clear_Cell,3C,NaN,NaN,CHTN-OC-004.CEL,3,NaN,NaN,NaN,...,NaN,standard Affymetrix procedures,GSE6008,Ovarian_Tumor,Public on Apr 09 2007,Oct 10 2006,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...,9606,Ovarian_Tumor_ClearCell_CHTN-OC-004,RNA
1,1,Clear_Cell,4,NaN,NaN,CHTN-OC-012.CEL,3,NaN,NaN,NaN,...,NaN,standard Affymetrix procedures,GSE6008,Ovarian_Tumor,Public on Apr 09 2007,Oct 10 2006,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM139n...,9606,Ovarian_Tumor_ClearCell_CHTN-OC-012,RNA

In [6]:
see_value(df1,'description')

['ovarian tumor: clear cell' 'ovarian tumor: endometrioid'
 'ovarian tumor: mucinous' 'ovarian tumor: serous' 'Normal ovary']

Upon examining the dataset, we can identify several key pieces of information to extract. The "Sample type" can be derived from the "description" column, while the "Cancer type" is found in the "source_name_ch1". The "Tumor subtype" can be extracted from the "characteristics_ch1.0.Tumor_Type" column, the "Stage" from "characteristics_ch1.1.stage", and the "Grade" from "characteristics_ch1.2.grade".

In [7]:
df1=standardize_cancer_type(df1,'source_name_ch1')
df1=standardize_tumour_subtype(df1,'description')
df1=standardize_stage(df1,'characteristics_ch1.1.stage')
df1=standardize_sample_type(df1,'description')
df1=standardize_grade(df1,'characteristics_ch1.2.grade')

In [8]:
df1=df1[['Cancer Type','Tumour Subtype','Stage','Sample Type','Grade']]

In [9]:
df1

        Cancer Type Tumour Subtype Stage Sample Type Grade
0    Ovarian Cancer     clear cell     3          NA     3
1    Ovarian Cancer     clear cell     4          NA     3
2    Ovarian Cancer     clear cell     1          NA     3
3    Ovarian Cancer     clear cell     1          NA    NA
4    Ovarian Cancer     clear cell     2          NA    NA
..              ...            ...   ...         ...   ...
98   Ovarian Cancer         serous     3          NA     3
99               NA             NA    NA      normal    NA
100              NA             NA    NA      normal    NA
101              NA             NA    NA      normal    NA
102              NA             NA    NA      normal    NA

[103 rows x 5 columns]

In [10]:
see_value(df1,'Cancer Type')

['Ovarian Cancer' 'NA']

Second dataset GSE6822_metadata

In [11]:
df2=info_data('GSE6822_metadata.csv')

--- Overview for GSE6822_metadata.csv ---
Found the following matching columns: ['contact_name', 'source_name_ch1', 'type']

All columns in the dataset:
Index(['channel_count', 'characteristics_ch1.0.Tissue', 'contact_address',
       'contact_city', 'contact_country', 'contact_department',
       'contact_email', 'contact_fax', 'contact_institute', 'contact_name',
       'contact_phone', 'contact_state', 'contact_zip/postal_code',
       'data_processing', 'data_row_count', 'description',
       'extract_protocol_ch1', 'geo_accession', 'hyb_protocol', 'label_ch1',
       'label_protocol_ch1', 'last_update_date', 'molecule_ch1',
       'organism_ch1', 'platform_id', 'scan_protocol', 'series_id',
       'source_name_ch1', 'status', 'submission_date', 'supplementary_file',
       'taxid_ch1', 'title', 'type'],
      dtype='object')

First 5 rows of the dataset:
   channel_count                       characteristics_ch1.0.Tissue  \
0              1  epithelial ovarian tumor, Tumor type: serous, ...
1              1  epithelial ovarian tumor, Tumor type: serous, ...
2              1  epithelial ovarian tumor, Tumor type: serous, ...
3              1  epithelial ovarian tumor, Tumor type: serous, ...
4              1  epithelial ovarian tumor, Tumor type: serous, ...

           contact_address contact_city contact_country   contact_department  \
0  740, Dr Penfield Avenue     Montreal          Canada  Microarray Platform
1  740, Dr Penfield Avenue     Montreal          Canada  Microarray Platform
2  740, Dr Penfield Avenue     Montreal          Canada  Microarray Platform
3  740, Dr Penfield Avenue     Montreal          Canada  Microarray Platform
4  740, Dr Penfield Avenue     Montreal          Canada  Microarray Platform

                                       contact_email   contact_fax  \
0  jaroslav.novak@mail.mcgill.ca, jaroslav.novak@...  450-465-3033
1  jaroslav.novak@mail.mcgill.ca, jaroslav.novak@...  450-465-3033
2  jaroslav.novak@mail.mcgill.ca, jaroslav.novak@...  450-465-3033
3  jaroslav.novak@mail.mcgill.ca, jaroslav.novak@...  450-465-3033
4  jaroslav.novak@mail.mcgill.ca, jaroslav.novak@...  450-465-3033

                                   contact_institute         contact_name  \
0  McGill University and Genome Quebec Innovation...  Jaroslav,Petr,Novak
1  McGill University and Genome Quebec Innovation...  Jaroslav,Petr,Novak
2  McGill University and Genome Quebec Innovation...  Jaroslav,Petr,Novak
3  McGill University and Genome Quebec Innovation...  Jaroslav,Petr,Novak
4  McGill University and Genome Quebec Innovation...  Jaroslav,Petr,Novak

   ... platform_id                                      scan_protocol  \
0  ...       GPL80  Scanned with a Hewlett Packard Gene Array Scanner
1  ...       GPL80  Scanned with a Hewlett Packard Gene Array Scanner
2  ...       GPL80  Scanned with a Hewlett Packard Gene Array Scanner
3  ...       GPL80  Scanned with a Hewlett Packard Gene Array Scanner
4  ...       GPL80  Scanned with a Hewlett Packard Gene Array Scanner

  series_id           source_name_ch1                 status submission_date  \
0   GSE6822  epithelian ovarian tumor  Public on Dec 31 2007     Jan 22 2007
1   GSE6822  epithelian ovarian tumor  Public on Dec 31 2007     Jan 22 2007
2   GSE6822  epithelian ovarian tumor  Public on Dec 31 2007     Jan 22 2007
3   GSE6822  epithelian ovarian tumor  Public on Dec 31 2007     Jan 22 2007
4   GSE6822  epithelian ovarian tumor  Public on Dec 31 2007     Jan 22 2007

                                  supplementary_file taxid_ch1  \
0                                               NONE      9606
1                                               NONE      9606
2                                               NONE      9606
3                                               NONE      9606
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM157n...      9606

                 title type
0  Ovarian tumor AM025  RNA
1  Ovarian tumor AM027  RNA
2  Ovarian tumor AM029  RNA
3  Ovarian tumor AM030  RNA
4  Ovarian tumor AM053  RNA

[5 rows x 34 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   channel_count                 74 non-null     int64
 1   characteristics_ch1.0.Tissue  74 non-null     object
 2   contact_address               74 non-null     object
 3   contact_city                  74 non-null     object
 4   contact_country               74 non-null     object
 5   contact_department            74 non-null     object
 6   contact_email                 74 non-null     object
 7   contact_fax                   74 non-null     object
 8   contact_institute             74 non-null     object
 9   contact_name                  74 non-null     object
 10  contact_phone                 74 non-null     object
 11  contact_state                 74 non-null     object
 12  contact_zip/postal_code       74 non-null     object
 13  data_processing               74 non-null     object
 14  data_row_count                74 non-null     int64
 15  description                   74 non-null     object
 16  extract_protocol_ch1          74 non-null     object
 17  geo_accession                 74 non-null     object
 18  hyb_protocol                  74 non-null     object
 19  label_ch1                     74 non-null     object
 20  label_protocol_ch1            74 non-null     object
 21  last_update_date              74 non-null     object
 22  molecule_ch1                  74 non-null     object
 23  organism_ch1                  74 non-null     object
 24  platform_id                   74 non-null     object
 25  scan_protocol                 74 non-null     object
 26  series_id                     74 non-null     object
 27  source_name_ch1               74 non-null     object
 28  status                        74 non-null     object
 29  submission_date               74 non-null     object
 30  supplementary_file            74 non-null     object
 31  taxid_ch1                     74 non-null     int64
 32  title                         74 non-null     object
 33  type                          74 non-null     object
dtypes: int64(3), object(31)
memory usage: 19.8+ KB

Statistical summary:
       channel_count  data_row_count  taxid_ch1
count           74.0            74.0       74.0
mean             1.0          7129.0     9606.0
std              0.0             0.0        0.0
min              1.0          7129.0     9606.0
25%              1.0          7129.0     9606.0
50%              1.0          7129.0     9606.0
75%              1.0          7129.0     9606.0
max              1.0          7129.0     9606.0

In [12]:
see_value(df2,'source_name_ch1')
see_value(df2,'description')
see_value(df2,'characteristics_ch1.0.Tissue')
see_value(df2,'description')

['epithelian ovarian tumor']
['low malignant potential' 'invasive']
['epithelial ovarian tumor, Tumor type: serous, Tumor stage: benign'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: borderline'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 3'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 3, potentially from extra-ovarian origin'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 2'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 3, post-chemotherapy sample'
 'epithelial ovarian tumor, Tumor type: undetermined, Tumor stage: invasive, small foci of grade 3 tumor'
 'epithelial ovarian tumor, Tumor type: endometrioid, Tumor stage: invasive grade 3'
 'epithelial ovarian tumor, Tumor type: clear cell, Tumor stage: invasive grade 2'
 'epithelial ovarian tumor, Tumor type: clear cell, Tumor stage: invasive grade 3'
 'epithelial ovarian tumor, Tumor type: mixed, Tumor stage: invasive grade 3'
 'epithelial ovarian tumor, Tumor type: endometrioid, Tumor stage: invasive grade 2'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: microinvasion of grade 3'
 'epithelial ovarian tumor, Tumor type: endometrioid, Tumor stage: invasive grade 1'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 2/3'
 'epithelial ovarian tumor, Tumor type: mixed, Tumor stage: invasive grade 2/3'
 'epithelial ovarian tumor, Tumor type: serous, Tumor stage: invasive grade 2, post-chemotherapy sample'
 'epithelial ovarian tumor, Tumor type: mucinous, Tumor stage: borderline'
 'epithelial ovarian tumor, Tumor type: endometrioid, Tumor stage: invasive grade 3, xenograft of an EOC cell line'
 'epithelial ovarian tumor, Tumor type: clear cell, Tumor stage: invasive grade 3, xenograft of an EOC cell line']
['low malignant potential' 'invasive']

According to what we have, we can see that the most important column is 'characteristics_ch1.0.Tissue' as it contains the type, subtype, stage, and grade

In [13]:
df2=standardize_cancer_type(df2,'characteristics_ch1.0.Tissue')
df2=standardize_grade(df2,'characteristics_ch1.0.Tissue')
df2=standardize_stage_mot(df2,'characteristics_ch1.0.Tissue')
df2=standardize_tumour_subtype(df2,'characteristics_ch1.0.Tissue')

In [14]:
df2=df2[['Cancer Type','Grade','Stage','Tumour Subtype']]
#df2_for_model=df2[['Cancer Type','Grade','Stage','Tumour Subtype','description']]

In [15]:
df2

       Cancer Type Grade       Stage Tumour Subtype
0   Ovarian Cancer    NA      benign         serous
1   Ovarian Cancer    NA  borderline         serous
2   Ovarian Cancer    NA  borderline         serous
3   Ovarian Cancer    NA  borderline         serous
4   Ovarian Cancer     3    invasive         serous
..             ...   ...         ...            ...
69  Ovarian Cancer     3    invasive         serous
70  Ovarian Cancer     3    invasive   endometrioid
71  Ovarian Cancer     3    invasive     clear cell
72  Ovarian Cancer     2    invasive         serous
73  Ovarian Cancer     3    invasive             NA

[74 rows x 4 columns]

The third dataset GSE12418_metadata

In [16]:
df3=info_data('GSE12418_metadata.csv')

--- Overview for GSE12418_metadata.csv ---
Found the following matching columns: ['type', 'source_name_ch1', 'source_name_ch2', 'contact_name']

All columns in the dataset:
Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'characteristics_ch1.1',
       'characteristics_ch1.2', 'characteristics_ch1.3',
       'characteristics_ch1.4', 'characteristics_ch1.5', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'source_name_ch2', 'organism_ch2', 'characteristics_ch2',
       'molecule_ch2', 'extract_protocol_ch2', 'label_ch2',
       'label_protocol_ch2', 'taxid_ch2', 'hyb_protocol', 'scan_protocol',
       'scan_protocol.1', 'description', 'data_processing', 'platform_id',
       'contact_name', 'contact_email', 'contact_phone', 'contact_fax',
       'contact_department', 'contact_institute', 'contact_address',
       'contact_city', 'contact_zip.postal_code', 'contact_country',
       'supplementary_file', 'data_row_count'],
      dtype='object')

First 5 rows of the dataset:
   title geo_accession                 status submission_date  \
0  45LA0     GSM311939  Public on Aug 12 2008     Aug 12 2008
1  46LB0     GSM311940  Public on Aug 12 2008     Aug 12 2008
2   83LC     GSM311943  Public on Aug 12 2008     Aug 12 2008
3  99LC0     GSM311944  Public on Aug 12 2008     Aug 12 2008
4  134LC     GSM311946  Public on Aug 12 2008     Aug 12 2008

  last_update_date type  channel_count                source_name_ch1  \
0      Aug 13 2008  RNA              2  serous ovarian adenocarcinoma
1      Aug 13 2008  RNA              2  serous ovarian adenocarcinoma
2      Aug 13 2008  RNA              2  serous ovarian adenocarcinoma
3      Aug 13 2008  RNA              2  serous ovarian adenocarcinoma
4      Aug 13 2008  RNA              2  serous ovarian adenocarcinoma

   organism_ch1  characteristics_ch1  ...     contact_phone       contact_fax  \
0  Homo sapiens  fresh frozen tumour  ...  +46+31 342 78 55  +46 +31 41 72 05
1  Homo sapiens  fresh frozen tumour  ...  +46+31 342 78 55  +46 +31 41 72 05
2  Homo sapiens  fresh frozen tumour  ...  +46+31 342 78 55  +46 +31 41 72 05
3  Homo sapiens  fresh frozen tumour  ...  +46+31 342 78 55  +46 +31 41 72 05
4  Homo sapiens  fresh frozen tumour  ...  +46+31 342 78 55  +46 +31 41 72 05

       contact_department         contact_institute contact_address  \
0  department of Oncology  University of Gothenburg     Bl Strket 2
1  department of Oncology  University of Gothenburg     Bl Strket 2
2  department of Oncology  University of Gothenburg     Bl Strket 2
3  department of Oncology  University of Gothenburg     Bl Strket 2
4  department of Oncology  University of Gothenburg     Bl Strket 2

  contact_city contact_zip.postal_code contact_country  \
0   Gothenburg                  413 45          Sweden
1   Gothenburg                  413 45          Sweden
2   Gothenburg                  413 45          Sweden
3   Gothenburg                  413 45          Sweden
4   Gothenburg                  413 45          Sweden

                                  supplementary_file  data_row_count
0  ftp://ftp.ncbi.nih.gov/pub/geo/DATA/supplement...           30000
1  ftp://ftp.ncbi.nih.gov/pub/geo/DATA/supplement...           30000
2  ftp://ftp.ncbi.nih.gov/pub/geo/DATA/supplement...           30000
3  ftp://ftp.ncbi.nih.gov/pub/geo/DATA/supplement...           30000
4  ftp://ftp.ncbi.nih.gov/pub/geo/DATA/supplement...           30000

[5 rows x 46 columns]

Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    54 non-null     object
 1   geo_accession            54 non-null     object
 2   status                   54 non-null     object
 3   submission_date          54 non-null     object
 4   last_update_date         54 non-null     object
 5   type                     54 non-null     object
 6   channel_count            54 non-null     int64
 7   source_name_ch1          54 non-null     object
 8   organism_ch1             54 non-null     object
 9   characteristics_ch1      54 non-null     object
 10  characteristics_ch1.1    54 non-null     object
 11  characteristics_ch1.2    54 non-null     object
 12  characteristics_ch1.3    54 non-null     object
 13  characteristics_ch1.4    54 non-null     object
 14  characteristics_ch1.5    54 non-null     object
 15  molecule_ch1             54 non-null     object
 16  extract_protocol_ch1     54 non-null     object
 17  label_ch1                54 non-null     object
 18  label_protocol_ch1       54 non-null     object
 19  taxid_ch1                54 non-null     int64
 20  source_name_ch2          54 non-null     object
 21  organism_ch2             54 non-null     object
 22  characteristics_ch2      54 non-null     object
 23  molecule_ch2             54 non-null     object
 24  extract_protocol_ch2     54 non-null     object
 25  label_ch2                54 non-null     object
 26  label_protocol_ch2       54 non-null     object
 27  taxid_ch2                54 non-null     int64
 28  hyb_protocol             54 non-null     object
 29  scan_protocol            54 non-null     object
 30  scan_protocol.1          54 non-null     object
 31  description              54 non-null     object
 32  data_processing          54 non-null     object
 33  platform_id              54 non-null     object
 34  contact_name             54 non-null     object
 35  contact_email            54 non-null     object
 36  contact_phone            54 non-null     object
 37  contact_fax              54 non-null     object
 38  contact_department       54 non-null     object
 39  contact_institute        54 non-null     object
 40  contact_address          54 non-null     object
 41  contact_city             54 non-null     object
 42  contact_zip.postal_code  54 non-null     object
 43  contact_country          54 non-null     object
 44  supplementary_file       54 non-null     object
 45  data_row_count           54 non-null     int64
dtypes: int64(4), object(42)
memory usage: 19.5+ KB

Statistical summary:
       channel_count  taxid_ch1  taxid_ch2  data_row_count
count           54.0       54.0       54.0            54.0
mean             2.0     9606.0     9606.0         30000.0
std              0.0        0.0        0.0             0.0
min              2.0     9606.0     9606.0         30000.0
25%              2.0     9606.0     9606.0         30000.0
50%              2.0     9606.0     9606.0         30000.0
75%              2.0     9606.0     9606.0         30000.0
max              2.0     9606.0     9606.0         30000.0

In [17]:
see_value(df3,'source_name_ch1') #tumour subtype

['serous ovarian adenocarcinoma']

In [18]:
df3=standardize_tumour_subtype(df3,'source_name_ch1')
df3=standardize_sample_type(df3,'source_name_ch1')
df3=standardize_cancer_type(df3,'source_name_ch1')
df3=standardize_stage_romain(df3,'characteristics_ch1.2')
df3=standardize_age(df3,'characteristics_ch1.4')

In [19]:
df3=df3[['Cancer Type','Age','Stage','Tumour Subtype','Sample Type']]

In [20]:
df3.head()

      Cancer Type Age Stage Tumour Subtype Sample Type
0  Ovarian Cancer  43   III         serous          NA
1  Ovarian Cancer  43   III         serous          NA
2  Ovarian Cancer  58   III         serous          NA
3  Ovarian Cancer  72   III         serous          NA
4  Ovarian Cancer  60   III         serous          NA

the fourth dataset GSE12470_metadata

In [21]:
df4=info_data('GSE12470_metadata.csv')

--- Overview for GSE12470_metadata.csv ---
Found the following matching columns: ['characteristics_ch1.0.gender', 'characteristics_ch1.2.stage', 'contact_name', 'source_name_ch1', 'type']

All columns in the dataset:
Index(['channel_count', 'characteristics_ch1.0.Gender',
       'characteristics_ch1.1.Tissue', 'characteristics_ch1.2.Stage',
       'contact_address', 'contact_city', 'contact_country',
       'contact_department', 'contact_email', 'contact_institute',
       'contact_name', 'contact_zip/postal_code', 'data_processing',
       'data_row_count', 'description', 'extract_protocol_ch1',
       'geo_accession', 'hyb_protocol', 'label_ch1', 'label_protocol_ch1',
       'last_update_date', 'molecule_ch1', 'organism_ch1', 'platform_id',
       'scan_protocol', 'series_id', 'source_name_ch1', 'status',
       'submission_date', 'supplementary_file', 'taxid_ch1', 'title', 'type'],
      dtype='object')

First 5 rows of the dataset:
   channel_count characteristics_ch1.0.Gender characteristics_ch1.1.Tissue  \
0              1                       female            normal peritoneum
1              1                       female            normal peritoneum
2              1                       female            normal peritoneum
3              1                       female            normal peritoneum
4              1                       female            normal peritoneum

  characteristics_ch1.2.Stage        contact_address contact_city  \
0                         NaN  1-757 Asahimachi-dori      Niigata
1                         NaN  1-757 Asahimachi-dori      Niigata
2                         NaN  1-757 Asahimachi-dori      Niigata
3                         NaN  1-757 Asahimachi-dori      Niigata
4                         NaN  1-757 Asahimachi-dori      Niigata

  contact_country         contact_department                 contact_email  \
0           Japan  Obstetrics and Gynecology  yoshikou@med.niigata-u.ac.jp
1           Japan  Obstetrics and Gynecology  yoshikou@med.niigata-u.ac.jp
2           Japan  Obstetrics and Gynecology  yoshikou@med.niigata-u.ac.jp
3           Japan  Obstetrics and Gynecology  yoshikou@med.niigata-u.ac.jp
4           Japan  Obstetrics and Gynecology  yoshikou@med.niigata-u.ac.jp

    contact_institute  ... platform_id  \
0  Niigata University  ...      GPL887
1  Niigata University  ...      GPL887
2  Niigata University  ...      GPL887
3  Niigata University  ...      GPL887
4  Niigata University  ...      GPL887

                                       scan_protocol series_id  \
0  The hybridized microarray was washed and then ...  GSE12470
1  The hybridized microarray was washed and then ...  GSE12470
2  The hybridized microarray was washed and then ...  GSE12470
3  The hybridized microarray was washed and then ...  GSE12470
4  The hybridized microarray was washed and then ...  GSE12470

     source_name_ch1                 status submission_date  \
0  normal peritoneum  Public on Jul 19 2009     Aug 12 2008
1  normal peritoneum  Public on Jul 19 2009     Aug 13 2008
2  normal peritoneum  Public on Jul 19 2009     Aug 13 2008
3  normal peritoneum  Public on Jul 19 2009     Aug 13 2008
4  normal peritoneum  Public on Jul 19 2009     Aug 13 2008

                                  supplementary_file taxid_ch1  \
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM311n...      9606
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM312n...      9606
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM312n...      9606
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM312n...      9606
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM312n...      9606

                  title type
0   Peritoneum normal 3  RNA
1   Peritoneum normal 4  RNA
2   Peritoneum normal 7  RNA
3  Peritoneum normal 12  RNA
4  Peritoneum normal 15  RNA

[5 rows x 33 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   channel_count                 53 non-null     int64
 1   characteristics_ch1.0.Gender  53 non-null     object
 2   characteristics_ch1.1.Tissue  53 non-null     object
 3   characteristics_ch1.2.Stage   43 non-null     object
 4   contact_address               53 non-null     object
 5   contact_city                  53 non-null     object
 6   contact_country               53 non-null     object
 7   contact_department            53 non-null     object
 8   contact_email                 53 non-null     object
 9   contact_institute             53 non-null     object
 10  contact_name                  53 non-null     object
 11  contact_zip/postal_code       53 non-null     object
 12  data_processing               53 non-null     object
 13  data_row_count                53 non-null     int64
 14  description                   53 non-null     object
 15  extract_protocol_ch1          53 non-null     object
 16  geo_accession                 53 non-null     object
 17  hyb_protocol                  53 non-null     object
 18  label_ch1                     53 non-null     object
 19  label_protocol_ch1            53 non-null     object
 20  last_update_date              53 non-null     object
 21  molecule_ch1                  53 non-null     object
 22  organism_ch1                  53 non-null     object
 23  platform_id                   53 non-null     object
 24  scan_protocol                 53 non-null     object
 25  series_id                     53 non-null     object
 26  source_name_ch1               53 non-null     object
 27  status                        53 non-null     object
 28  submission_date               53 non-null     object
 29  supplementary_file            53 non-null     object
 30  taxid_ch1                     53 non-null     int64
 31  title                         53 non-null     object
 32  type                          53 non-null     object
dtypes: int64(3), object(30)
memory usage: 13.8+ KB

Statistical summary:
       channel_count  data_row_count  taxid_ch1
count           53.0            53.0       53.0
mean             1.0         22153.0     9606.0
std              0.0             0.0        0.0
min              1.0         22153.0     9606.0
25%              1.0         22153.0     9606.0
50%              1.0         22153.0     9606.0
75%              1.0         22153.0     9606.0
max              1.0         22153.0     9606.0

In [22]:
see_value(df4,'source_name_ch1') #Cancer type and sample type
see_value(df4,'characteristics_ch1.1.Tissue') # Tumour Subtype
see_value(df4,'characteristics_ch1.2.Stage') #Stage

['normal peritoneum' 'ovarian cancer' 'ovarian cacner']
['normal peritoneum' 'ovarian cancer' 'serous ovarian cancer']
[nan 'advanced stage' 'early stage']

In [23]:
df4=standardize_tumour_subtype(df4,'characteristics_ch1.1.Tissue')
df4=standardize_sample_type(df4,'source_name_ch1')
df4=standardize_cancer_type(df4,'source_name_ch1')
df4=standardize_stage_mot(df4,'characteristics_ch1.2.Stage')
df4=standardize_sex(df4,'characteristics_ch1.0.Gender')

In [24]:
df4=df4[['Stage','Cancer Type','Sex','Tumour Subtype','Sample Type']]

In [25]:
see_value(df4,'Stage')

['NA' 'advanced' 'early']

In [26]:
df4

       Stage     Cancer Type     Sex Tumour Subtype Sample Type
0         NA              NA  Female             NA      normal
1         NA              NA  Female             NA      normal
2         NA              NA  Female             NA      normal
3         NA              NA  Female             NA      normal
4         NA              NA  Female             NA      normal
5         NA              NA  Female             NA      normal
6         NA              NA  Female             NA      normal
7         NA              NA  Female             NA      normal
8         NA              NA  Female             NA      normal
9         NA              NA  Female             NA      normal
10  advanced  Ovarian Cancer  Female             NA          NA
11  advanced  Ovarian Cancer  Female         serous          NA
12  advanced  Ovarian Cancer  Female         serous          NA
13  advanced  Ovarian Cancer  Female         serous          NA
14  advanced  Ovarian Cancer  Female         serous          NA
15  advanced  Ovarian Cancer  Female         serous          NA
16  advanced  Ovarian Cancer  Female         serous          NA
17  advanced  Ovarian Cancer  Female         serous          NA
18  advanced  Ovarian Cancer  Female         serous          NA
19  advanced  Ovarian Cancer  Female         serous          NA
20  advanced  Ovarian Cancer  Female         serous          NA
21  advanced  Ovarian Cancer  Female         serous          NA
22  advanced  Ovarian Cancer  Female         serous          NA
23  advanced  Ovarian Cancer  Female         serous          NA
24  advanced  Ovarian Cancer  Female         serous          NA
25  advanced  Ovarian Cancer  Female         serous          NA
26  advanced  Ovarian Cancer  Female         serous          NA
27  advanced  Ovarian Cancer  Female         serous          NA
28  advanced  Ovarian Cancer  Female         serous          NA
29  advanced  Ovarian Cancer  Female         serous          NA
30  advanced  Ovarian Cancer  Female         serous          NA
31  advanced  Ovarian Cancer  Female         serous          NA
32  advanced  Ovarian Cancer  Female         serous          NA
33  advanced  Ovarian Cancer  Female         serous          NA
34  advanced  Ovarian Cancer  Female         serous          NA
35  advanced  Ovarian Cancer  Female         serous          NA
36  advanced  Ovarian Cancer  Female         serous          NA
37  advanced  Ovarian Cancer  Female         serous          NA
38  advanced  Ovarian Cancer  Female         serous          NA
39  advanced  Ovarian Cancer  Female         serous          NA
40  advanced  Ovarian Cancer  Female         serous          NA
41  advanced  Ovarian Cancer  Female         serous          NA
42  advanced  Ovarian Cancer  Female         serous          NA
43  advanced  Ovarian Cancer  Female         serous          NA
44  advanced  Ovarian Cancer  Female         serous          NA
45     early  Ovarian Cancer  Female         serous          NA
46     early  Ovarian Cancer  Female         serous          NA
47     early  Ovarian Cancer  Female         serous          NA
48     early  Ovarian Cancer  Female         serous          NA
49     early  Ovarian Cancer  Female         serous          NA
50     early  Ovarian Cancer  Female         serous          NA
51     early  Ovarian Cancer  Female         serous          NA
52     early  Ovarian Cancer  Female         serous          NA

The 5th GSE26712_metadata

In [27]:
df5=info_data('GSE26712_metadata.csv')

--- Overview for GSE26712_metadata.csv ---
Found the following matching columns: ['unnamed: 0', 'contact_name', 'source_name_ch1', 'type']

All columns in the dataset:
Index(['Unnamed: 0', 'channel_count', 'characteristics_ch1.0.tissue',
       'characteristics_ch1.1.surgery outcome', 'characteristics_ch1.2.status',
       'characteristics_ch1.3.survival years', 'contact_address',
       'contact_city', 'contact_country', 'contact_department',
       'contact_email', 'contact_institute', 'contact_laboratory',
       'contact_name', 'contact_phone', 'contact_state',
       'contact_zip/postal_code', 'data_processing', 'data_row_count',
       'description', 'extract_protocol_ch1', 'geo_accession', 'hyb_protocol',
       'label_ch1', 'label_protocol_ch1', 'last_update_date', 'molecule_ch1',
       'organism_ch1', 'platform_id', 'scan_protocol', 'series_id',
       'source_name_ch1', 'status', 'submission_date', 'supplementary_file',
       'taxid_ch1', 'title', 'treatment_protocol_ch1', 'type'],
      dtype='object')

First 5 rows of the dataset:
  Unnamed: 0  channel_count       characteristics_ch1.0.tissue  \
0  GSM657519              1  Normal ovarian surface epithelium
1  GSM657520              1  Normal ovarian surface epithelium
2  GSM657521              1  Normal ovarian surface epithelium
3  GSM657522              1  Normal ovarian surface epithelium
4  GSM657523              1  Normal ovarian surface epithelium

  characteristics_ch1.1.surgery outcome characteristics_ch1.2.status  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN

   characteristics_ch1.3.survival years    contact_address contact_city  \
0                                   NaN  70 Blossom Street       Boston
1                                   NaN  70 Blossom Street       Boston
2                                   NaN  70 Blossom Street       Boston
3                                   NaN  70 Blossom Street       Boston
4                                   NaN  70 Blossom Street       Boston

  contact_country contact_department  ...  \
0             USA           Medicine  ...
1             USA           Medicine  ...
2             USA           Medicine  ...
3             USA           Medicine  ...
4             USA           Medicine  ...

                                       scan_protocol series_id  \
0  Array images were acquired using a GeneChip Sc...  GSE26712
1  Array images were acquired using a GeneChip Sc...  GSE26712
2  Array images were acquired using a GeneChip Sc...  GSE26712
3  Array images were acquired using a GeneChip Sc...  GSE26712
4  Array images were acquired using a GeneChip Sc...  GSE26712

                    source_name_ch1                 status  submission_date  \
0  Ovarian surface epithelial cells  Public on Jan 20 2011      Jan 19 2011
1  Ovarian surface epithelial cells  Public on Jan 20 2011      Jan 19 2011
2  Ovarian surface epithelial cells  Public on Jan 20 2011      Jan 19 2011
3  Ovarian surface epithelial cells  Public on Jan 20 2011      Jan 19 2011
4  Ovarian surface epithelial cells  Public on Jan 20 2011      Jan 19 2011

                                  supplementary_file  taxid_ch1  \
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...       9606
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...       9606
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...       9606
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...       9606
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...       9606

             title                             treatment_protocol_ch1 type
0  Normal HOSE2237  Tumor specimens were obtained from 185 previou...  RNA
1  Normal HOSE2008  Tumor specimens were obtained from 185 previou...  RNA
2  Normal HOSE2061  Tumor specimens were obtained from 185 previou...  RNA
3  Normal HOSE2064  Tumor specimens were obtained from 185 previou...  RNA
4  Normal HOSE2085  Tumor specimens were obtained from 185 previou...  RNA

[5 rows x 39 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 39 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             195 non-null    object
 1   channel_count                          195 non-null    int64
 2   characteristics_ch1.0.tissue           195 non-null    object
 3   characteristics_ch1.1.surgery outcome  185 non-null    object
 4   characteristics_ch1.2.status           185 non-null    object
 5   characteristics_ch1.3.survival years   185 non-null    float64
 6   contact_address                        195 non-null    object
 7   contact_city                           195 non-null    object
 8   contact_country                        195 non-null    object
 9   contact_department                     195 non-null    object
 10  contact_email                          195 non-null    object
 11  contact_institute                      195 non-null    object
 12  contact_laboratory                     195 non-null    object
 13  contact_name                           195 non-null    object
 14  contact_phone                          195 non-null    int64
 15  contact_state                          195 non-null    object
 16  contact_zip/postal_code                195 non-null    int64
 17  data_processing                        195 non-null    object
 18  data_row_count                         195 non-null    int64
 19  description                            195 non-null    object
 20  extract_protocol_ch1                   195 non-null    object
 21  geo_accession                          195 non-null    object
 22  hyb_protocol                           195 non-null    object
 23  label_ch1                              195 non-null    object
 24  label_protocol_ch1                     195 non-null    object
 25  last_update_date                       195 non-null    object
 26  molecule_ch1                           195 non-null    object
 27  organism_ch1                           195 non-null    object
 28  platform_id                            195 non-null    object
 29  scan_protocol                          195 non-null    object
 30  series_id                              195 non-null    object
 31  source_name_ch1                        195 non-null    object
 32  status                                 195 non-null    object
 33  submission_date                        195 non-null    object
 34  supplementary_file                     195 non-null    object
 35  taxid_ch1                              195 non-null    int64
 36  title                                  195 non-null    object
 37  treatment_protocol_ch1                 195 non-null    object
 38  type                                   195 non-null    object
dtypes: float64(1), int64(5), object(33)
memory usage: 59.5+ KB

Statistical summary:
       channel_count  characteristics_ch1.3.survival years  contact_phone  \
count          195.0                            185.000000   1.950000e+02
mean             1.0                              3.914486   6.177245e+09
std              0.0                              3.002268   0.000000e+00
min              1.0                              0.060000   6.177245e+09
25%              1.0                              1.810000   6.177245e+09
50%              1.0                              3.190000   6.177245e+09
75%              1.0                              5.150000   6.177245e+09
max              1.0                             13.650000   6.177245e+09

       contact_zip/postal_code  data_row_count  taxid_ch1
count                    195.0           195.0      195.0
mean                    2114.0         22283.0     9606.0
std                        0.0             0.0        0.0
min                     2114.0         22283.0     9606.0
25%                     2114.0         22283.0     9606.0
50%                     2114.0         22283.0     9606.0
75%                     2114.0         22283.0     9606.0
max                     2114.0         22283.0     9606.0

In [28]:
df5=standardize_cancer_type(df5,'characteristics_ch1.0.tissue')
df5=standardize_stage_mot(df5,'characteristics_ch1.0.tissue') 
df5=standardize_grade(df5,'characteristics_ch1.0.tissue')
df5=standardize_sample_type(df5,'characteristics_ch1.0.tissue')  
df5=standardize_tumour_subtype(df5,'characteristics_ch1.0.tissue')

In [29]:
df5

,Unnamed: 0,channel_count,characteristics_ch1.0.tissue,characteristics_ch1.1.surgery outcome,characteristics_ch1.2.status,characteristics_ch1.3.survival years,contact_address,contact_city,contact_country,contact_department,...,supplementary_file,taxid_ch1,title,treatment_protocol_ch1,type,Cancer Type,Stage,Grade,Sample Type,Tumour Subtype
0,GSM657519,1,Normal ovarian surface epithelium,NaN,NaN,NaN,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Normal HOSE2237,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,NA,NA,normal,NA
1,GSM657520,1,Normal ovarian surface epithelium,NaN,NaN,NaN,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Normal HOSE2008,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,NA,NA,normal,NA
2,GSM657521,1,Normal ovarian surface epithelium,NaN,NaN,NaN,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Normal HOSE2061,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,NA,NA,normal,NA
3,GSM657522,1,Normal ovarian surface epithelium,NaN,NaN,NaN,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Normal HOSE2064,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,NA,NA,normal,NA
4,GSM657523,1,Normal ovarian surface epithelium,NaN,NaN,NaN,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Normal HOSE2085,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,NA,NA,normal,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,GSM657709,1,Late-stage high-grade ovarian cancer,Optimal,NED (no evidence of disease),4.74,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Ovarian Cancer SO87,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,high,high-grade,NA,NA
191,GSM657710,1,Late-stage high-grade ovarian cancer,Suboptimal,NED (no evidence of disease),4.76,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Ovarian Cancer SO88,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,high,high-grade,NA,NA
192,GSM657711,1,Late-stage high-grade ovarian cancer,Suboptimal,AWD (alive with disease),4.66,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Ovarian Cancer SO89,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,high,high-grade,NA,NA
193,GSM657712,1,Late-stage high-grade ovarian cancer,Optimal,NED (no evidence of disease),4.63,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Ovarian Cancer SO91,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,high,high-grade,NA,NA
194,GSM657713,1,Late-stage high-grade ovarian cancer,Suboptimal,DOD (dead of disease),3.73,70 Blossom Street,Boston,USA,Medicine,...,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM657n...,9606,Ovarian Cancer SO94,Tumor specimens were obtained from 185 previou...,RNA,Ovarian Cancer,high,high-grade,NA,NA

In [30]:
df5=df5[['Cancer Type','Stage','Grade','Sample Type','Tumour Subtype']]

In [31]:
df5.head()

      Cancer Type Stage Grade Sample Type Tumour Subtype
0  Ovarian Cancer    NA    NA      normal             NA
1  Ovarian Cancer    NA    NA      normal             NA
2  Ovarian Cancer    NA    NA      normal             NA
3  Ovarian Cancer    NA    NA      normal             NA
4  Ovarian Cancer    NA    NA      normal             NA

6 GSE42568_metadata

In [32]:
df6=info_data('GSE42568_metadata.csv')

--- Overview for GSE42568_metadata.csv ---
Found the following matching columns: ['unnamed: 0.1', 'unnamed: 0', 'type', 'source_name_ch1', 'characteristics_ch1.1.age', 'characteristics_ch1.4.grade', 'contact_name']

All columns in the dataset:
Index(['Unnamed: 0.1', 'Unnamed: 0', 'title', 'geo_accession', 'status',
       'submission_date', 'last_update_date', 'type', 'channel_count',
       'source_name_ch1', 'organism_ch1', 'taxid_ch1',
       'characteristics_ch1.0.tissue', 'characteristics_ch1.1.age',
       'characteristics_ch1.2.er_status', 'characteristics_ch1.3.size',
       'characteristics_ch1.4.grade',
       'characteristics_ch1.5.lymph node status',
       'characteristics_ch1.6.relapse free survival time_days',
       'characteristics_ch1.7.relapse free survival event',
       'characteristics_ch1.8.overall survival time_days',
       'characteristics_ch1.9.overall survival event',
       'treatment_protocol_ch1', 'molecule_ch1', 'extract_protocol_ch1',
       'label_ch1', 'label_protocol_ch1', 'hyb_protocol', 'scan_protocol',
       'description', 'data_processing', 'platform_id', 'contact_name',
       'contact_email', 'contact_department', 'contact_institute',
       'contact_address', 'contact_city', 'contact_zip/postal_code',
       'contact_country', 'supplementary_file', 'series_id', 'data_row_count'],
      dtype='object')

First 5 rows of the dataset:
   Unnamed: 0.1  Unnamed: 0                       title geo_accession  \
0             0  GSM1045191  Normal breast, N1_15_12_04    GSM1045191
1             1  GSM1045192  Normal breast, N4_14_12_04    GSM1045192
2             2  GSM1045193  Normal breast, N5_15_12_04    GSM1045193
3             3  GSM1045194  Normal breast, N6_14_12_04    GSM1045194
4             4  GSM1045195  Normal breast, P1_15_12_04    GSM1045195

                  status submission_date last_update_date type  channel_count  \
0  Public on May 26 2013     Nov 27 2012      Jul 30 2013  RNA              1
1  Public on May 26 2013     Nov 27 2012      Jul 30 2013  RNA              1
2  Public on May 26 2013     Nov 27 2012      Jul 30 2013  RNA              1
3  Public on May 26 2013     Nov 27 2012      Jul 30 2013  RNA              1
4  Public on May 26 2013     Nov 27 2012      Jul 30 2013  RNA              1

         source_name_ch1  ...        contact_email  contact_department  \
0  Breast tissue, normal  ...  colin.clarke@dcu.ie                NICB
1  Breast tissue, normal  ...  colin.clarke@dcu.ie                NICB
2  Breast tissue, normal  ...  colin.clarke@dcu.ie                NICB
3  Breast tissue, normal  ...  colin.clarke@dcu.ie                NICB
4  Breast tissue, normal  ...  colin.clarke@dcu.ie                NICB

        contact_institute  contact_address  contact_city  \
0  Dublin City University     Collin's Av.        Dublin
1  Dublin City University     Collin's Av.        Dublin
2  Dublin City University     Collin's Av.        Dublin
3  Dublin City University     Collin's Av.        Dublin
4  Dublin City University     Collin's Av.        Dublin

   contact_zip/postal_code  contact_country  \
0                 Dublin 9          Ireland
1                 Dublin 9          Ireland
2                 Dublin 9          Ireland
3                 Dublin 9          Ireland
4                 Dublin 9          Ireland

                                  supplementary_file  series_id  \
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1045...   GSE42568
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1045...   GSE42568
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1045...   GSE42568
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1045...   GSE42568
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1045...   GSE42568

   data_row_count
0           54675
1           54675
2           54675
3           54675
4           54675

[5 rows x 43 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 43 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Unnamed: 0.1                                           121 non-null    int64
 1   Unnamed: 0                                             121 non-null    object
 2   title                                                  121 non-null    object
 3   geo_accession                                          121 non-null    object
 4   status                                                 121 non-null    object
 5   submission_date                                        121 non-null    object
 6   last_update_date                                       121 non-null    object
 7   type                                                   121 non-null    object
 8   channel_count                                          121 non-null    int64
 9   source_name_ch1                                        121 non-null    object
 10  organism_ch1                                           121 non-null    object
 11  taxid_ch1                                              121 non-null    int64
 12  characteristics_ch1.0.tissue                           121 non-null    object
 13  characteristics_ch1.1.age                              104 non-null    float64
 14  characteristics_ch1.2.er_status                        101 non-null    float64
 15  characteristics_ch1.3.size                             104 non-null    float64
 16  characteristics_ch1.4.grade                            104 non-null    float64
 17  characteristics_ch1.5.lymph node status                104 non-null    float64
 18  characteristics_ch1.6.relapse free survival time_days  104 non-null    float64
 19  characteristics_ch1.7.relapse free survival event      104 non-null    float64
 20  characteristics_ch1.8.overall survival time_days       104 non-null    float64
 21  characteristics_ch1.9.overall survival event           104 non-null    float64
 22  treatment_protocol_ch1                                 121 non-null    object
 23  molecule_ch1                                           121 non-null    object
 24  extract_protocol_ch1                                   121 non-null    object
 25  label_ch1                                              121 non-null    object
 26  label_protocol_ch1                                     121 non-null    object
 27  hyb_protocol                                           121 non-null    object
 28  scan_protocol                                          121 non-null    object
 29  description                                            121 non-null    object
 30  data_processing                                        121 non-null    object
 31  platform_id                                            121 non-null    object
 32  contact_name                                           121 non-null    object
 33  contact_email                                          121 non-null    object
 34  contact_department                                     121 non-null    object
 35  contact_institute                                      121 non-null    object
 36  contact_address                                        121 non-null    object
 37  contact_city                                           121 non-null    object
 38  contact_zip/postal_code                                121 non-null    object
 39  contact_country                                        121 non-null    object
 40  supplementary_file                                     121 non-null    object
 41  series_id                                              121 non-null    object
 42  data_row_count                                         121 non-null    int64
dtypes: float64(9), int64(4), object(30)
memory usage: 40.8+ KB

Statistical summary:
       Unnamed: 0.1  channel_count  taxid_ch1  characteristics_ch1.1.age  \
count    121.000000          121.0      121.0                 104.000000
mean      60.000000            1.0     9606.0                  58.831923
std       35.073732            0.0        0.0                  11.764175
min        0.000000            1.0     9606.0                  31.060000
25%       30.000000            1.0     9606.0                  49.450000
50%       60.000000            1.0     9606.0                  56.490000
75%       90.000000            1.0     9606.0                  68.360000
max      120.000000            1.0     9606.0                  89.930000

       characteristics_ch1.2.er_status  characteristics_ch1.3.size  \
count                       101.000000                   104.00000
mean                          0.663366                     2.78750
std                           0.474915                     1.17669
min                           0.000000                     0.60000
25%                           0.000000                     2.00000
50%                           1.000000                     2.50000
75%                           1.000000                     3.50000
max                           1.000000                     8.00000

       characteristics_ch1.4.grade  characteristics_ch1.5.lymph node status  \
count                   104.000000                               104.000000
mean                      2.403846                                 0.567308
std                       0.675784                                 0.497848
min                       1.000000                                 0.000000
25%                       2.000000                                 0.000000
50%                       3.000000                                 1.000000
75%                       3.000000                                 1.000000
max                       3.000000                                 1.000000

       characteristics_ch1.6.relapse free survival time_days  \
count                                         104.000000
mean                                         1633.211538
std                                           975.748502
min                                            84.000000
25%                                           595.750000
50%                                          1907.000000
75%                                          2485.250000
max                                          3026.000000

       characteristics_ch1.7.relapse free survival event  \
count                                         104.000000
mean                                            0.461538
std                                             0.500933
min                                             0.000000
25%                                             0.000000
50%                                             0.000000
75%                                             1.000000
max                                             1.000000

       characteristics_ch1.8.overall survival time_days  \
count                                        104.000000
mean                                        1898.211538
std                                          872.268293
min                                          138.000000
25%                                         1102.500000
50%                                         2190.500000
75%                                         2629.750000
max                                         3026.000000

       characteristics_ch1.9.overall survival event  data_row_count
count                                    104.000000           121.0
mean                                       0.336538         54675.0
std                                        0.474814             0.0
min                                        0.000000         54675.0
25%                                        0.000000         54675.0
50%                                        0.000000         54675.0
75%                                        1.000000         54675.0
max                                        1.000000         54675.0

In [33]:
df6=standardize_age(df6,'characteristics_ch1.1.age')
df6=standardize_grade(df6,'characteristics_ch1.4.grade')
df6=standardize_cancer_type(df6,'characteristics_ch1.0.tissue')
df6=standardize_sample_type(df6,'characteristics_ch1.0.tissue')
df6=standardize_tumour_subtype(df6,'characteristics_ch1.0.tissue')

In [34]:
df6=df6[['Age','Grade','Cancer Type','Sample Type','Tumour Subtype']]
df6.head()

  Age Grade    Cancer Type Sample Type Tumour Subtype
0  NA    NA  Breast Cancer      normal             NA
1  NA    NA  Breast Cancer      normal             NA
2  NA    NA  Breast Cancer      normal             NA
3  NA    NA  Breast Cancer      normal             NA
4  NA    NA  Breast Cancer      normal             NA

go to 7eme GSE44408_metadata

In [35]:
df7=info_data('GSE44408_metadata.csv')

--- Overview for GSE44408_metadata.csv ---
Found the following matching columns: ['unnamed: 0.1', 'unnamed: 0', 'type', 'source_name_ch1', 'contact_name']

All columns in the dataset:
Index(['Unnamed: 0.1', 'Unnamed: 0', 'title', 'geo_accession', 'status',
       'submission_date', 'last_update_date', 'type', 'channel_count',
       'source_name_ch1', 'organism_ch1', 'taxid_ch1',
       'characteristics_ch1.0.tissue', 'molecule_ch1', 'extract_protocol_ch1',
       'label_ch1', 'label_protocol_ch1', 'hyb_protocol', 'scan_protocol',
       'description', 'data_processing', 'platform_id', 'contact_name',
       'contact_email', 'contact_department', 'contact_institute',
       'contact_address', 'contact_city', 'contact_zip/postal_code',
       'contact_country', 'supplementary_file', 'series_id', 'data_row_count'],
      dtype='object')

First 5 rows of the dataset:
   Unnamed: 0.1  Unnamed: 0  \
0             0  GSM1084655
1             1  GSM1084656
2             2  GSM1084657
3             3  GSM1084658
4             4  GSM1084659

                                               title geo_accession  \
0                      Unaffected lymp node (A_11G-)    GSM1084655
1                       Unaffected lymp node (A_4G-)    GSM1084656
2                      Unaffected lymp node (A_57G-)    GSM1084657
3  Lymph node metastasis from infiltrating ductal...    GSM1084658
4  Lymph node metastasis from infiltrating ductal...    GSM1084659

                  status submission_date last_update_date type  channel_count  \
0  Public on Mar 05 2013     Feb 19 2013      Mar 05 2013  RNA              1
1  Public on Mar 05 2013     Feb 19 2013      Mar 05 2013  RNA              1
2  Public on Mar 05 2013     Feb 19 2013      Mar 05 2013  RNA              1
3  Public on Mar 05 2013     Feb 19 2013      Mar 05 2013  RNA              1
4  Public on Mar 05 2013     Feb 19 2013      Mar 05 2013  RNA              1

                                     source_name_ch1  ...  \
0                      Unaffected lymp node (A_11G-)  ...
1                       Unaffected lymp node (A_4G-)  ...
2                      Unaffected lymp node (A_57G-)  ...
3  Lymph node metastasis from infiltrating ductal...  ...
4  Lymph node metastasis from infiltrating ductal...  ...

                contact_email            contact_department contact_institute  \
0  juanjo.lozano@ciberehd.org  Plataforma de Bioinformatica          CIBEREHD
1  juanjo.lozano@ciberehd.org  Plataforma de Bioinformatica          CIBEREHD
2  juanjo.lozano@ciberehd.org  Plataforma de Bioinformatica          CIBEREHD
3  juanjo.lozano@ciberehd.org  Plataforma de Bioinformatica          CIBEREHD
4  juanjo.lozano@ciberehd.org  Plataforma de Bioinformatica          CIBEREHD

   contact_address contact_city contact_zip/postal_code contact_country  \
0  C/ Rosselló 153    Barcelona                    8036           Spain
1  C/ Rosselló 153    Barcelona                    8036           Spain
2  C/ Rosselló 153    Barcelona                    8036           Spain
3  C/ Rosselló 153    Barcelona                    8036           Spain
4  C/ Rosselló 153    Barcelona                    8036           Spain

                                  supplementary_file series_id data_row_count
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1084...  GSE44408          22277
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1084...  GSE44408          22277
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1084...  GSE44408          22277
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1084...  GSE44408          22277
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1084...  GSE44408          22277

[5 rows x 33 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0.1                  44 non-null     int64
 1   Unnamed: 0                    44 non-null     object
 2   title                         44 non-null     object
 3   geo_accession                 44 non-null     object
 4   status                        44 non-null     object
 5   submission_date               44 non-null     object
 6   last_update_date              44 non-null     object
 7   type                          44 non-null     object
 8   channel_count                 44 non-null     int64
 9   source_name_ch1               44 non-null     object
 10  organism_ch1                  44 non-null     object
 11  taxid_ch1                     44 non-null     int64
 12  characteristics_ch1.0.tissue  44 non-null     object
 13  molecule_ch1                  44 non-null     object
 14  extract_protocol_ch1          44 non-null     object
 15  label_ch1                     44 non-null     object
 16  label_protocol_ch1            44 non-null     object
 17  hyb_protocol                  44 non-null     object
 18  scan_protocol                 44 non-null     object
 19  description                   44 non-null     object
 20  data_processing               44 non-null     object
 21  platform_id                   44 non-null     object
 22  contact_name                  44 non-null     object
 23  contact_email                 44 non-null     object
 24  contact_department            44 non-null     object
 25  contact_institute             44 non-null     object
 26  contact_address               44 non-null     object
 27  contact_city                  44 non-null     object
 28  contact_zip/postal_code       44 non-null     int64
 29  contact_country               44 non-null     object
 30  supplementary_file            44 non-null     object
 31  series_id                     44 non-null     object
 32  data_row_count                44 non-null     int64
dtypes: int64(5), object(28)
memory usage: 11.5+ KB

Statistical summary:
       Unnamed: 0.1  channel_count  taxid_ch1  contact_zip/postal_code  \
count     44.000000           44.0       44.0                     44.0
mean      21.500000            1.0     9606.0                   8036.0
std       12.845233            0.0        0.0                      0.0
min        0.000000            1.0     9606.0                   8036.0
25%       10.750000            1.0     9606.0                   8036.0
50%       21.500000            1.0     9606.0                   8036.0
75%       32.250000            1.0     9606.0                   8036.0
max       43.000000            1.0     9606.0                   8036.0

       data_row_count
count            44.0
mean          22277.0
std               0.0
min           22277.0
25%           22277.0
50%           22277.0
75%           22277.0
max           22277.0

In [36]:
df7=standardize_sample_type(df7,'title')
df7=standardize_cancer_type(df7,'title')
df7=standardize_tumour_subtype(df7,'title')

In [37]:
df7=df7[['Cancer Type', 'Sample Type','Tumour Subtype']]

In [38]:
df7

      Cancer Type     Sample Type Tumour Subtype
0              NA              NA             NA
1              NA              NA             NA
2              NA              NA             NA
3   Breast Cancer              NA         ductal
4   Breast Cancer              NA         ductal
5   Breast Cancer              NA         ductal
6   Breast Cancer              NA         ductal
7   Breast Cancer              NA         ductal
8   Breast Cancer              NA         ductal
9   Breast Cancer              NA         ductal
10  Breast Cancer              NA         ductal
11  Breast Cancer              NA         ductal
12  Breast Cancer              NA         ductal
13  Breast Cancer              NA         ductal
14  Breast Cancer              NA         ductal
15  Breast Cancer              NA         ductal
16  Breast Cancer              NA         ductal
17  Breast Cancer              NA         ductal
18  Breast Cancer              NA         ductal
19  Breast Cancer  primary tumour         ductal
20  Breast Cancer  primary tumour         ductal
21  Breast Cancer  primary tumour         ductal
22  Breast Cancer  primary tumour         ductal
23  Breast Cancer  primary tumour         ductal
24  Breast Cancer  primary tumour         ductal
25  Breast Cancer  primary tumour         ductal
26  Breast Cancer  primary tumour         ductal
27  Breast Cancer  primary tumour         ductal
28  Breast Cancer  primary tumour         ductal
29  Breast Cancer  primary tumour         ductal
30  Breast Cancer  primary tumour         ductal
31  Breast Cancer  primary tumour         ductal
32  Breast Cancer  primary tumour         ductal
33  Breast Cancer  primary tumour         ductal
34  Breast Cancer  primary tumour         ductal
35  Breast Cancer  primary tumour         ductal
36  Breast Cancer  primary tumour         ductal
37  Breast Cancer  primary tumour         ductal
38  Breast Cancer  primary tumour         ductal
39  Breast Cancer  primary tumour         ductal
40  Breast Cancer  primary tumour         ductal
41  Breast Cancer  primary tumour         ductal
42  Breast Cancer  primary tumour         ductal
43  Breast Cancer  primary tumour         ductal

go to GSE78958_metadata

In [39]:
df8=info_data('GSE78958_metadata.csv')

--- Overview for GSE78958_metadata.csv ---
Found the following matching columns: ['unnamed: 0.1', 'unnamed: 0', 'type', 'source_name_ch1', 'characteristics_ch1.2.tumor grade', 'characteristics_ch1.3.tumor subtype (via breastprs)', 'characteristics_ch1.4.tumor stage', 'contact_name']

All columns in the dataset:
Index(['Unnamed: 0.1', 'Unnamed: 0', 'title', 'geo_accession', 'status',
       'submission_date', 'last_update_date', 'type', 'channel_count',
       'source_name_ch1', 'organism_ch1', 'taxid_ch1',
       'characteristics_ch1.0.patient ethnicity', 'characteristics_ch1.1.bmi',
       'characteristics_ch1.2.tumor grade',
       'characteristics_ch1.3.tumor subtype (via breastprs)',
       'characteristics_ch1.4.tumor stage', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing',
       'platform_id', 'contact_name', 'contact_email', 'contact_department',
       'contact_institute', 'contact_address', 'contact_city', 'contact_state',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'series_id', 'data_row_count'],
      dtype='object')

First 5 rows of the dataset:
   Unnamed: 0.1  Unnamed: 0                     title geo_accession  \
0           357  GSM2082442  primary breast tumor_366    GSM2082442
1             2  GSM2082087    primary breast tumor_3    GSM2082087
2             3  GSM2082088    primary breast tumor_4    GSM2082088
3             4  GSM2082089    primary breast tumor_5    GSM2082089
4             7  GSM2082092    primary breast tumor_8    GSM2082092

                  status submission_date last_update_date type  channel_count  \
0  Public on Mar 08 2016     Mar 07 2016      Mar 08 2016  RNA              1
1  Public on Mar 08 2016     Mar 07 2016      Mar 08 2016  RNA              1
2  Public on Mar 08 2016     Mar 07 2016      Mar 08 2016  RNA              1
3  Public on Mar 08 2016     Mar 07 2016      Mar 08 2016  RNA              1
4  Public on Mar 08 2016     Mar 07 2016      Mar 08 2016  RNA              1

                     source_name_ch1  ...            contact_department  \
0       Primary breast tumor_BMI <25  ...  Clinical Breast Care Project
1       Primary breast tumor_BMI Unk  ...  Clinical Breast Care Project
2  Primary breast tumor_BMI 25-29.99  ...  Clinical Breast Care Project
3       Primary breast tumor_BMI Unk  ...  Clinical Breast Care Project
4       Primary breast tumor_BMI <25  ...  Clinical Breast Care Project

            contact_institute     contact_address contact_city contact_state  \
0  Windber Research Institute  620 Seventh Street      Windber            PA
1  Windber Research Institute  620 Seventh Street      Windber            PA
2  Windber Research Institute  620 Seventh Street      Windber            PA
3  Windber Research Institute  620 Seventh Street      Windber            PA
4  Windber Research Institute  620 Seventh Street      Windber            PA

  contact_zip/postal_code contact_country  \
0                   15963             USA
1                   15963             USA
2                   15963             USA
3                   15963             USA
4                   15963             USA

                                  supplementary_file series_id data_row_count
0  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...  GSE78958          22277
1  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...  GSE78958          22277
2  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...  GSE78958          22277
3  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...  GSE78958          22277
4  ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...  GSE78958          22277

[5 rows x 38 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 38 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0.1                                         424 non-null    int64
 1   Unnamed: 0                                           424 non-null    object
 2   title                                                424 non-null    object
 3   geo_accession                                        424 non-null    object
 4   status                                               424 non-null    object
 5   submission_date                                      424 non-null    object
 6   last_update_date                                     424 non-null    object
 7   type                                                 424 non-null    object
 8   channel_count                                        424 non-null    int64
 9   source_name_ch1                                      424 non-null    object
 10  organism_ch1                                         424 non-null    object
 11  taxid_ch1                                            424 non-null    int64
 12  characteristics_ch1.0.patient ethnicity              424 non-null    object
 13  characteristics_ch1.1.bmi                            424 non-null    object
 14  characteristics_ch1.2.tumor grade                    424 non-null    object
 15  characteristics_ch1.3.tumor subtype (via breastprs)  424 non-null    object
 16  characteristics_ch1.4.tumor stage                    424 non-null    object
 17  molecule_ch1                                         424 non-null    object
 18  extract_protocol_ch1                                 424 non-null    object
 19  label_ch1                                            424 non-null    object
 20  label_protocol_ch1                                   424 non-null    object
 21  hyb_protocol                                         424 non-null    object
 22  scan_protocol                                        424 non-null    object
 23  description                                          424 non-null    object
 24  data_processing                                      424 non-null    object
 25  platform_id                                          424 non-null    object
 26  contact_name                                         424 non-null    object
 27  contact_email                                        424 non-null    object
 28  contact_department                                   424 non-null    object
 29  contact_institute                                    424 non-null    object
 30  contact_address                                      424 non-null    object
 31  contact_city                                         424 non-null    object
 32  contact_state                                        424 non-null    object
 33  contact_zip/postal_code                              424 non-null    int64
 34  contact_country                                      424 non-null    object
 35  supplementary_file                                   424 non-null    object
 36  series_id                                            424 non-null    object
 37  data_row_count                                       424 non-null    int64
dtypes: int64(5), object(33)
memory usage: 126.0+ KB

Statistical summary:
       Unnamed: 0.1  channel_count  taxid_ch1  contact_zip/postal_code  \
count     424.00000          424.0      424.0                    424.0
mean      211.50000            1.0     9606.0                  15963.0
std       122.54251            0.0        0.0                      0.0
min         0.00000            1.0     9606.0                  15963.0
25%       105.75000            1.0     9606.0                  15963.0
50%       211.50000            1.0     9606.0                  15963.0
75%       317.25000            1.0     9606.0                  15963.0
max       423.00000            1.0     9606.0                  15963.0

       data_row_count
count           424.0
mean          22277.0
std               0.0
min           22277.0
25%           22277.0
50%           22277.0
75%           22277.0
max           22277.0

In [40]:
df8.head()

,Unnamed: 0.1,Unnamed: 0,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,...,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,series_id,data_row_count
0,357,GSM2082442,primary breast tumor_366,GSM2082442,Public on Mar 08 2016,Mar 07 2016,Mar 08 2016,RNA,1,Primary breast tumor_BMI <25,...,Clinical Breast Care Project,Windber Research Institute,620 Seventh Street,Windber,PA,15963,USA,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...,GSE78958,22277
1,2,GSM2082087,primary breast tumor_3,GSM2082087,Public on Mar 08 2016,Mar 07 2016,Mar 08 2016,RNA,1,Primary breast tumor_BMI Unk,...,Clinical Breast Care Project,Windber Research Institute,620 Seventh Street,Windber,PA,15963,USA,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...,GSE78958,22277
2,3,GSM2082088,primary breast tumor_4,GSM2082088,Public on Mar 08 2016,Mar 07 2016,Mar 08 2016,RNA,1,Primary breast tumor_BMI 25-29.99,...,Clinical Breast Care Project,Windber Research Institute,620 Seventh Street,Windber,PA,15963,USA,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...,GSE78958,22277
3,4,GSM2082089,primary breast tumor_5,GSM2082089,Public on Mar 08 2016,Mar 07 2016,Mar 08 2016,RNA,1,Primary breast tumor_BMI Unk,...,Clinical Breast Care Project,Windber Research Institute,620 Seventh Street,Windber,PA,15963,USA,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...,GSE78958,22277
4,7,GSM2082092,primary breast tumor_8,GSM2082092,Public on Mar 08 2016,Mar 07 2016,Mar 08 2016,RNA,1,Primary breast tumor_BMI <25,...,Clinical Breast Care Project,Windber Research Institute,620 Seventh Street,Windber,PA,15963,USA,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM2082...,GSE78958,22277

In [41]:
df8=standardize_sample_type(df8,'title')
df8=standardize_cancer_type(df8,'title')
df8=standardize_grade(df8,'characteristics_ch1.2.tumor grade')
df8=standardize_stage_romain(df8,'characteristics_ch1.4.tumor stage')

In [42]:
df8=df8[['Sample Type',	'Cancer Type', 'Stage','characteristics_ch1.3.tumor subtype (via breastprs)']]

In [43]:
see_value(df8,'characteristics_ch1.3.tumor subtype (via breastprs)')

['Luminal B' 'Luminal A' 'HER2 enriched' 'Basal Like' 'Normal-like']

In [44]:
subtype_mapping = {
    'Luminal B': 'ductal',
    'Luminal A': 'lobular',
    'HER2 enriched': 'ductal',
    'Basal Like': 'apocrine',
    'Normal-like': 'clear cell'
}

# Apply the mapping to the 'Tumour Subtype' column
df8['Tumour Subtype'] = df8['characteristics_ch1.3.tumor subtype (via breastprs)'].map(subtype_mapping)
df8=df8.drop(columns=['characteristics_ch1.3.tumor subtype (via breastprs)'])

In [45]:
df8.head()

      Sample Type    Cancer Type Stage Tumour Subtype
0  primary tumour  Breast Cancer     I         ductal
1  primary tumour  Breast Cancer     I        lobular
2  primary tumour  Breast Cancer     I        lobular
3  primary tumour  Breast Cancer     I        lobular
4  primary tumour  Breast Cancer     I        lobular

### 3-Merge

After reviewing all the datasets, we will merge them into a single DataFrame.

In [46]:
merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True, sort=False)
#merged_df = pd.concat([df1, df2_for_model, df3, df4, df5, df6, df7, df8], ignore_index=True, sort=False)

In [47]:
merged_df['Patient ID'] = [f"{i:03}" for i in range(1, len(merged_df) + 1)]

In [48]:
#iN THE RIGHT ORDER 
desired_order = ['Patient ID', 'Age', 'Sex', 'Stage', 'Grade', 'Cancer Type', 'Sample Type', 'Tumour Subtype']
#desired_order = ['Patient ID', 'Age', 'Sex', 'Stage', 'Grade', 'Cancer Type', 'Sample Type', 'Tumour Subtype','description']
merged_df = merged_df[desired_order]

In [49]:
merged_df

,Patient ID,Age,Sex,Stage,Grade,Cancer Type,Sample Type,Tumour Subtype
0,001,NaN,NaN,3,3,Ovarian Cancer,NA,clear cell
1,002,NaN,NaN,4,3,Ovarian Cancer,NA,clear cell
2,003,NaN,NaN,1,3,Ovarian Cancer,NA,clear cell
3,004,NaN,NaN,1,NA,Ovarian Cancer,NA,clear cell
4,005,NaN,NaN,2,NA,Ovarian Cancer,NA,clear cell
...,...,...,...,...,...,...,...,...
1063,1064,NaN,NaN,I,NaN,Breast Cancer,primary tumour,apocrine
1064,1065,NaN,NaN,I,NaN,Breast Cancer,primary tumour,ductal
1065,1066,NaN,NaN,I,NaN,Breast Cancer,primary tumour,ductal
1066,1067,NaN,NaN,I,NaN,Breast Cancer,primary tumour,lobular
1067,1068,NaN,NaN,NA,NaN,Breast Cancer,primary tumour,lobular

 ## 4-Standarization

### Methodology for Column Standardization:

Objective : 
The aim of using functions for column standardization is to transform raw data into a consistent format suitable for data analysis and machine learning. Each function applies specific transformations tailored to each column, ensuring uniformity and proper handling of missing or inconsistent values.

### Key Points of the Method

### Use of Functions
- **Modularity**: Each function is independent, allowing easy use or modification without impacting others.
- **Reusability**: Functions can be applied to multiple datasets, ensuring consistent data processing.
- **Reliability**: Functions systematically standardize data and handle errors, such as unknown or missing values.

### Benefits
By using dedicated functions for data standardization, we ensure data consistency, improve data quality, and make datasets ready for analysis and modeling.

In [50]:
see_value(merged_df,'Age') 						
see_value(merged_df,'Sex')
print("Stage : ")
see_value(merged_df,'Stage')
print("Grade : ")
see_value(merged_df,'Grade')
see_value(merged_df,'Cancer Type')
see_value(merged_df,'Sample Type')
see_value(merged_df,'Tumour Subtype')

[nan '43' '58' '72' '60' '50' '62' '49' '77' '52' '36' '44' '84' '70' '65'
 '54' '35' '40' '41' '56' '76' '73' '59' '67' '69' '64' '74' '75' '63'
 '55' '47' '68' '51' '82' 'NA' '74.03' '67.26' '53.35' '43.72' '51.47'
 '42.49' '52.01' '43.4' '45.86' '78.6' '56.89' '54.36' '49.03' '51.46'
 '63.88' '43.89' '76.49' '68.57' '82.14' '73.05' '77.3' '65.07' '47.59'
 '57.59' '38.6' '49.59' '80.3' '58.52' '46.08' '50.62' '42.95' '73.38'
 '53.75' '72.74' '54.6' '53.28' '54.69' '48.01' '60.12' '52.82' '62.81'
 '43.48' '72.49' '54.34' '73.68' '78.8' '74.34' '74.02' '75.15' '67.83'
 '50.21' '69.58' '31.06' '71.06' '60.72' '65.08' '67.24' '56.88' '69.42'
 '65.68' '61.42' '46.97' '52.26' '56.1' '59.56' '50.94' '75.81' '59.0'
 '48.27' '38.9' '46.59' '48.84' '47.39' '67.7' '46.31' '71.64' '66.66'
 '68.29' '67.75' '47.13' '44.52' '55.89' '55.57' '51.23' '54.31' '68.76'
 '56.04' '60.55' '89.93' '73.79' '61.41' '57.23' '75.75' '41.17' '53.07'
 '55.95' '60.39' '46.09' '47.82' '48.43' '70.44' '62.51']
[nan 'Female']
Stage :
['3' '4' '1' '2' 'I' 'NA' 'benign' 'borderline' 'invasive' 'microinvasion'
 'III' 'advanced' 'early' 'high' nan 'II']
Grade :
['3' 'NA' '1' '2' nan 'high-grade']
['Ovarian Cancer' 'NA' 'Breast Cancer']
['NA' 'normal' nan 'primary tumour']
['clear cell' 'endometrioid' 'mucinous' 'serous' 'NA' 'ductal' 'lobular'
 'apocrine']

In [51]:
def standardize_age(df, column):
    df[column] = pd.to_numeric(df[column], errors='coerce') 
    df[column] = df[column].fillna('NA')  
    df[column] = df[column].apply(lambda x: int(x) if x != 'NA' else 'NA')
    return df

merged_df = standardize_age(merged_df, 'Age')

In [52]:
def standardize_sex(df, column):
    df[column] = df[column].str.strip().str.capitalize()  
    df[column] = df[column].where(df[column].isin(['Male', 'Female']), 'NA')  
    return df

merged_df = standardize_sex(merged_df, 'Sex')

In [53]:
def standardize_cancer_type(df, column):
    valid_types = ['Ovarian Cancer', 'Breast Cancer']
    df[column] = df[column].str.capitalize().where(df[column].isin(valid_types), 'NA')
    
    return df

merged_df = standardize_cancer_type(merged_df, 'Cancer Type')

In [54]:
def standardize_sample_type(df, column):
    valid_types = ['normal', 'primary tumour']
    df[column] = df[column].str.lower().where(df[column].isin(valid_types), 'NA')
    
    return df

merged_df = standardize_sample_type(merged_df, 'Sample Type')

In [55]:
def standardize_tumour_subtype(df, column):
    valid_subtypes = ['clear cell', 'endometrioid', 'mucinous', 'serous', 'ductal', 'lobular', 'apocrine']
    df[column] = df[column].str.lower().where(df[column].isin(valid_subtypes), 'NA')
    
    return df

merged_df = standardize_tumour_subtype(merged_df, 'Tumour Subtype')

In [56]:
def standardize_stage_grade(df, column):
    standard_map = {
        '1': 'I', '2': 'II', '3': 'III', '4': 'IV',
        'I': 'I', 'II': 'II', 'III': 'III', 'IV': 'IV',
        'early': 'I', 'advanced': 'IV', 'high': 'IV',
        'benign': 'NA', 'borderline': 'NA', 'microinvasion': 'NA',
        'NA': 'NA'
    }
    df[column] = df[column].replace(standard_map)
    df[column] = df[column].where(df[column].isin(['I', 'II', 'III', 'IV', 'NA']), 'NA')  
    return df

merged_df = standardize_stage_grade(merged_df, 'Stage')
merged_df = standardize_stage_grade(merged_df, 'Grade')

In [57]:
see_value(merged_df,'Age') 						
see_value(merged_df,'Sex')
print("Stage : ")
see_value(merged_df,'Stage')
print("Grade : ")
see_value(merged_df,'Grade')
see_value(merged_df,'Cancer Type')
see_value(merged_df,'Sample Type')
see_value(merged_df,'Tumour Subtype')

['NA' 43 58 72 60 50 62 49 77 52 36 44 84 70 65 54 35 40 41 56 76 73 59 67
 69 64 74 75 63 55 47 68 51 82 53 42 45 78 57 38 80 46 48 31 71 61 66 89]
['NA' 'Female']
Stage :
['III' 'IV' 'I' 'II' 'NA']
Grade :
['III' 'NA' 'I' 'II']
['Ovarian cancer' 'NA' 'Breast cancer']
['NA' 'normal' 'primary tumour']
['clear cell' 'endometrioid' 'mucinous' 'serous' 'NA' 'ductal' 'lobular'
 'apocrine']

In [58]:
merged_df.head(10)

  Patient ID Age Sex Stage Grade     Cancer Type Sample Type Tumour Subtype
0        001  NA  NA   III   III  Ovarian cancer          NA     clear cell
1        002  NA  NA    IV   III  Ovarian cancer          NA     clear cell
2        003  NA  NA     I   III  Ovarian cancer          NA     clear cell
3        004  NA  NA     I    NA  Ovarian cancer          NA     clear cell
4        005  NA  NA    II    NA  Ovarian cancer          NA     clear cell
5        006  NA  NA     I    NA  Ovarian cancer          NA     clear cell
6        007  NA  NA     I    NA  Ovarian cancer          NA     clear cell
7        008  NA  NA     I    NA  Ovarian cancer          NA     clear cell
8        009  NA  NA    IV   III  Ovarian cancer          NA   endometrioid
9        010  NA  NA     I     I  Ovarian cancer          NA   endometrioid

## Conclusion

Through the implementation of these targeted functions for data extraction and standardization, the datasets have been transformed into a more coherent and uniform format. This ensures consistency across different datasets and significantly improves data quality, making it suitable for downstream analysis and modeling. The structured approach enhances the reliability of results, reduces potential errors arising from inconsistent data, and provides a solid foundation for applying machine learning and data science techniques.

In [59]:
#Saving the merged_df as CSV

merged_df.to_csv('Final_Dataset.csv', index=False)